.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.main_img {
  width: 100%;
  margin: 20px 0 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_img > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.main > p {
  margin: -3px 0px 10px 0px;
}

.test_start_text {
  font-size: 14px;
  color: rgb(159,159,159);
}