.testQnA {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.question_box {
  width: 100%;
  height: 45px;
}

.testQnA_content {
  display: flex;
  flex-direction: column;
}

.testQnA_content > div {
  font-size: 18px;
}