@font-face {
  font-family: "SB";
  src: url(/SB_L.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "SB";
  src: url(/SB_M.otf) format("opentype");
  font-weight: bold;
}

body * {
  font-family: "SB";
}

html,
body {
  margin: 0;
  width: 100%;
  display: flex;
  background-color: white;
}

#root {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  min-height: 100dvh;
  box-shadow: rgba(100, 100, 100, 0.3) 0px 0px 29px 0px;
}
